@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        TODO...
    </p>
    <header>
        <h3>Questions? Comments? Feedback?</h3>
    </header>
    <p>
        TODO...
    </p>
</article>


<aside>
    <h3>Navigation</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>