@{
    ViewBag.Title = "Welcome!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Intro content.
            </p>
        </div>
    </section>
}
<h3>Instructions</h3>
<ol class="round">
    <li class="one">
        <h5>Complete the Research Questionaire</h5>
        Before continuing, please make sure that you have completed the research questionaire.
    </li>

    <li class="two">
        <h5>Login</h5>
        You can login using a Google, Facebook, or Microsoft account.
    </li>
    
    <li class="three">
        <h5>Complete your Assigned Task</h5>
        Once you have logged in, you may now complete the research task that was assigned to you.
    </li>
    <li class="four">
        <h5>Complete Research Form</h5>
        Fill in the 
    </li>
</ol>
